.crm-header {
  width: 100%;
  height: 100%;
  color: #000;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crm-nav {
  height: 100%;
  background: #43454d;
  color: #bdbdbd;
}