@import '~antd/dist/antd.css';
@import 'crm/common.pcss';
@import 'crm/home.pcss';
@import 'login.css';
@import 'shop.css';

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: sans-serif;
}

ul, li, h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}